@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

 /*------------- Whole Document---------------- */
body {
  text-align: justify;
  font-family: 'Urbanist';
  font-size: 12px;
}
h1, h2, h3, h4, h5 {
  text-align: left;
  font-family: 'Asap';
  font-size: 18px;
}

/*----------------- links ---------------------*/

a { 
  color: #119B01;
}
a:hover {
    color: #107803; /* darker color when hovering */
  }
  
  
/*------------Table of Contents (TOC)----------- */

.tocify {
  font-size: 18px;
}
.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px !important;
}

/*------------Info boxes----------- */
.disclaimerimg{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.disclaimerimg{
  background-image: url("../images/icon_disclaimer.png");
}
.disclaimer{
  padding: 1em 1em 1em 5em;
  margin-bottom: 10px;
  border: 2px dashed #c02902ff;
  border-radius: 13px;
  background: #c0290217 5px center/3em no-repeat;
}
.infobox {
  padding: 1em 1em 1em 5em;
  margin-bottom: 30px;
  border: 3px dashed #ef9e05f9;
  border-radius: 13px;
  background: #ef9e0510 2px center / 3em no-repeat;
}

.examplebox{
  padding: 1em 1em 1em 5em;
  margin-bottom: 30px;
  border: 3px solid #4cdc8eff;
  border-radius: 13px;
  background: #4cdc8e17 5px center/3em no-repeat;
  overflow: auto;
}

.sortTermsBox{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 3px solid #4cdc8eff;
  border-radius: 10px;
  background: #4cdc8e17 5px center/3em no-repeat;
  overflow: auto;
}
/*.infoimage {
   background-image: url("images/caution.png");
}*/

/*------------Tables----------- */
th {
  background-color: #4cdc8e8a;
  color: black;
  text-align: center;
}

tr:nth-child(even) {background-color: #f8f8f8;}

td {
  border-bottom: 2px solid #ddd;
}

.tableDwCterms{
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}