@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

 /*------------- Whole Document---------------- */
body {
  text-align: justify;
  font-family: 'Urbanist';
  font-size: 12px;
}
h1, h2, h3, h4, h5 {
  text-align: left;
  font-family: 'Asap';
  font-size: 18px;
}

/*----------------- links ---------------------*/

a { 
  color: #119B01;
}
a:hover {
    color: #107803; /* darker color when hovering */
  }
  
  
/*------------Table of Contents (TOC)----------- */

.tocify {
  font-size: 16px;
}
.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
    line-height: 25px !important;
}

/*------------Info boxes----------- */
.disclaimer {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid #4cdc8e8a;
  border-radius: 10px;
  background: #b8f5cc19 5px center/3em no-repeat;
}
.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid #4cdc8e8a;
  border-radius: 10px;
  background: #b8f5cc19 5px center/3em no-repeat;
}

.examplebox{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid #4cdc8e8a;
  border-radius: 10px;
  background: #b8f5cc19 5px center/3em no-repeat;
  overflow: auto;
}

.sortTermsBox{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid #51A3A3;
  border-radius: 10px;
  background: #cbe5e519 5px center/3em no-repeat;
  overflow: auto;
}
/*.infoimage {
   background-image: url("images/caution.png");
}*/

/*------------Tables----------- */
th {
  background-color: #42da887d;
  color: white;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:nth-child(even) {background-color: #04aa6d62;}

td {
  border-bottom: 1px solid #ddd;
}

.tableDwCterms{
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}