@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

 /*------------- Whole Document---------------- */
body {
  text-align: justify;
  font-family: 'Urbanist';
  font-size: 14px;
  line-height: 1.5;
}
h1, h2, h3, h4, h5 {
  text-align: left;
  font-family: 'Asap';
  font-size: 18px;
}
.book .book-body .page-wrapper .page-inner section.normal a {
    color: #15ce6aff; /*-colour of links*/
}
.book .book-body .page-wrapper .page-inner section.normal a:hover{
    color: #0f924bff; 
}
.book .book-summary {
  background:;
  border-right: 2px solid rgba(0, 0, 0, .07);
}
.book .book-header h1 {
    margin: 0;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
}
/*------------Table of Contents (TOC)----------- */

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
    color: #15ce6aff; /*-colour of active header in TOC and hover colour-*/
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    display: block;
    padding: 7px 11px;
}
/*------------Info boxes----------- */
.disclaimerimg{
  background: #c0290217 10px center/4em no-repeat;
}
.disclaimerimg{
  background-image: url("../images/icon_disclaimer.png");
}
.disclaimer{
  padding: 0.5em 1em 0.5em 6em;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3.5px dashed #c02902ff;
  border-radius: 13px;
}
.infobox {
  padding: 0.5em 1em 0.5em 6em;
  margin-bottom: 36px;
  border: 3px dashed #ef9e05f9;
  border-radius: 13px;
}
.infoimg{
   background: #ef9e0510 10px center/4em no-repeat;
   background-image: url("../images/icon_note.png");
}
.examplebox{
  padding: 1em 1em 1em 5em;
  margin-bottom: 30px;
  border: 3px solid #15ce6aff;
  border-radius: 13px;
  background: #15ce6a17 5px center/3em no-repeat;
  overflow: auto;
}
.sortTermsBox{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 3px solid #15ce6aff;
  border-radius: 10px;
  background: #15ce6a17 5px center/3em no-repeat;
  overflow: auto;
}

/*------------Tables----------- */
th {
  background-color: #0f924bff;
  color: black;
  text-align: center;
}

tr:nth-child(even) {background-color: #f8f8f8;}

td {
  border-bottom: 2px solid #ddd;
}

.tableDwCterms{
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}